* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    color: #555;
}

.container,
header,
section,
footer,
h1,
h2,
img,
figure,
figcaption {
}

body{
    color: var(--brand-color-alt);
    font-size: 16px;
    line-height: 1.7;
}